<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.verapdf.org/Model" 
       class = "org.verapdf.model.ModelPackage"
       genModel = "model/generated/Model.genmodel" /> 
	
  </extension>



</plugin>
